AddDefaultCharset utf8
RewriteEngine On

#RewriteBase /~user5/bookshop/
RewriteBase /




RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !-d
RewriteCond %{REQUEST_URI} !-l

RewriteRule !\.(js|jpeg|css|jpg|html|gif|png)$ index.php [PT]

#RewriteRule ^ru/(.*)$ /1?lang=ru [L,QSA]


